<div class="component default-strategy" (click)="trackChanges()">
  <h3>{{ getComponentName() + ' current changes count' + changesCounter }}</h3>
  <p>Parent: {{ parentName }}</p>
  <div class="counter">
    Counter: {{ counter }}
    <button (click)="increment()">+</button>
    <button (click)="decrement()">-</button>
  </div>
  <app-child1component1 [parentName]="getComponentName()"></app-child1component1>
  <app-child1component2 [parentName]="getComponentName()"></app-child1component2>
</div>